In [64]:
import pandas as pd
#import yfinance as yf
#from bs4 import BeautifulSoup
#import requests

In [65]:
#data = yf.download(tickers = "SPGI", period = "3mo")

In [66]:
url = 'https://finance.yahoo.com/quote/SPGI/history?p=SPGI'

"""# Retrieve page with the requests module
response = requests.get(url)
# Create BeautifulSoup object; parse with 'lxml'
soup = BeautifulSoup(response.text, 'lxml')

results = soup.find_all('table', class_='W(100%) M(0)') #, data-test="historical-prices", data-reactid="33")

#results

open = []
date = []

for result in results:
    row1 = result.find_all('tr', class_='BdT Bdc($seperatorColor) Ta(end) Fz(s) Whs(nw)')
    for row in row1:
        #individual_column = result.find_all('td', class_='Py(10px) Ta(start) Pend(10px)')[0].span.text
        date_column = result.find_all('td', class_='Py(10px) Ta(start) Pend(10px)')
        open_column = result.find_all('td', class_="Py(10px) Pstart(10px)")
        #print(individual_column)
        for x in range(len(date_column)):
            date.append(date_column[x].span.text)
            #open.append(open_column[x].span.text)
            #print(date)
            #print('------------------')
            #print(open)
        for y in range(len(open_column)):
            open.append(open_column[y].span.text)
#    print(row1)"""

'# Retrieve page with the requests module\nresponse = requests.get(url)\n# Create BeautifulSoup object; parse with \'lxml\'\nsoup = BeautifulSoup(response.text, \'lxml\')\n\nresults = soup.find_all(\'table\', class_=\'W(100%) M(0)\') #, data-test="historical-prices", data-reactid="33")\n\n#results\n\nopen = []\ndate = []\n\nfor result in results:\n    row1 = result.find_all(\'tr\', class_=\'BdT Bdc($seperatorColor) Ta(end) Fz(s) Whs(nw)\')\n    for row in row1:\n        #individual_column = result.find_all(\'td\', class_=\'Py(10px) Ta(start) Pend(10px)\')[0].span.text\n        date_column = result.find_all(\'td\', class_=\'Py(10px) Ta(start) Pend(10px)\')\n        open_column = result.find_all(\'td\', class_="Py(10px) Pstart(10px)")\n        #print(individual_column)\n        for x in range(len(date_column)):\n            date.append(date_column[x].span.text)\n            #open.append(open_column[x].span.text)\n            #print(date)\n            #print(\'------------------\')\n            #print(open)\n        for y in range(len(open_column)):\n            open.append(open_column[y].span.text)\n#    print(row1)'

In [67]:
#print(len(open))
#print(len(date))

In [68]:
tables = pd.read_html(url)

In [69]:
df = tables[0]
df

,Date,Open,High,Low,Close*,Adj Close**,Volume
0,"Apr 24, 2020",282.61,284.53,280.38,283.94,283.94,1124500
1,"Apr 23, 2020",276.79,281.30,276.03,279.56,279.56,1699400
2,"Apr 22, 2020",272.71,277.40,269.40,276.01,276.01,1112200
3,"Apr 21, 2020",271.25,273.55,265.92,267.23,267.23,1856200
4,"Apr 20, 2020",277.85,280.67,276.49,279.17,279.17,1512900
...,...,...,...,...,...,...,...
96,"Dec 06, 2019",273.62,275.75,272.01,274.38,273.75,1544500
97,"Dec 05, 2019",269.56,272.14,268.74,271.54,270.91,1523500
98,"Dec 04, 2019",263.69,268.98,263.35,268.46,267.84,1008500
99,"Dec 03, 2019",260.05,264.03,259.45,264.00,263.39,1317200
100,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...

In [70]:
df = df.iloc[:-1]
df

            Date    Open    High     Low  Close* Adj Close**   Volume
0   Apr 24, 2020  282.61  284.53  280.38  283.94      283.94  1124500
1   Apr 23, 2020  276.79  281.30  276.03  279.56      279.56  1699400
2   Apr 22, 2020  272.71  277.40  269.40  276.01      276.01  1112200
3   Apr 21, 2020  271.25  273.55  265.92  267.23      267.23  1856200
4   Apr 20, 2020  277.85  280.67  276.49  279.17      279.17  1512900
..           ...     ...     ...     ...     ...         ...      ...
95  Dec 09, 2019  275.19  275.19  271.92  272.06      271.43  1096800
96  Dec 06, 2019  273.62  275.75  272.01  274.38      273.75  1544500
97  Dec 05, 2019  269.56  272.14  268.74  271.54      270.91  1523500
98  Dec 04, 2019  263.69  268.98  263.35  268.46      267.84  1008500
99  Dec 03, 2019  260.05  264.03  259.45  264.00      263.39  1317200

[100 rows x 7 columns]

In [72]:
df = df[["Date", "Open", "High", "Low", "Close*"]]
df

            Date    Open    High     Low  Close*
0   Apr 24, 2020  282.61  284.53  280.38  283.94
1   Apr 23, 2020  276.79  281.30  276.03  279.56
2   Apr 22, 2020  272.71  277.40  269.40  276.01
3   Apr 21, 2020  271.25  273.55  265.92  267.23
4   Apr 20, 2020  277.85  280.67  276.49  279.17
..           ...     ...     ...     ...     ...
95  Dec 09, 2019  275.19  275.19  271.92  272.06
96  Dec 06, 2019  273.62  275.75  272.01  274.38
97  Dec 05, 2019  269.56  272.14  268.74  271.54
98  Dec 04, 2019  263.69  268.98  263.35  268.46
99  Dec 03, 2019  260.05  264.03  259.45  264.00

[100 rows x 5 columns]